<launch>
  <!-- Start Laser LIDAR -->
  <node name="urg_node" pkg="urg_node" type="urg_node" required="true">
    <param name="ip_address" value=""/>
    <param name="serial_port" value="/dev/hokuyo"/>
    <param name="frame_id" value="/laser"/>
    <param name="min_ang" value="-2.2689"/>
    <param name="max_ang" value="2.2689"/>
  </node>
</launch>
