<launch>
  <node name="uvc_cam_node" pkg="uvc_camera" type="uvc_camera_node" output="screen">
      <!--<remap from="camera/image_raw" to="camera/rgb/image_color" />-->
      <param name="device" value="/dev/video0" />
      <param name="width" value="320" />
      <param name="height" value="240" />
      <param name="fps" value="40" />
  </node>
</launch>
