<launch>
  <!-- Launch the conversion from sensor_msgs/NavSatFix to nav_msgs/Odometry -->
  <node name="gps_conv" pkg="gps_common" type="utm_odometry_node">
     <remap from="fix" to="/pocketbot/fix"/>
     <param name="rot_covariance" value="99999" />
     <param name="frame_id" value="base_link" />
  </node>

  <node pkg="tf" type="static_transform_publisher" name="base_footprint_base_link" args="0 0 0 0 0 0 odom base_link 100"/>

</launch>
